.git
.dart_tool
frontend/.dart_tool
frontend/.packages
frontend/.idea
frontend/android/.gradle
frontend/android/app/build
frontend/ios/Pods
frontend/macos/Pods
frontend/windows
frontend/linux
backend/target
deployment/backups
*.log
frontend/build/*
!frontend/build/web
!frontend/build/web/**
