#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=Eclipse IDE for Enterprise Java and Web Developers - 2026-03
StartupWMClass=Eclipse
Exec=/home/ramesh/eclipse/jee-2026-03/eclipse/eclipse
Categories=Development;IDE;
Icon=/home/ramesh/eclipse/jee-2026-03/eclipse/icon.xpm
